.LinkText{
    padding-right: 40px;
}
.LinkText a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.LinkText a:hover{
    text-decoration: none;
}
.userName{
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(3, 151, 10);
    border-radius: 20px;
}