.login-form{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 40px,
}
hr.solid{
    border-top: 4px solid rgb(0, 168, 98);
    border-radius: 5px;
  }
.login-form input {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
}
.error{
    color: red;
}
@media screen and (max-width: 600px) {
    .login-form {
        margin:0px 0px 10px 0px;
        padding: 0px;
    }
    .login-form input {
        width: 210px;
        padding: 5px;
    }
  }